/*
* Styling based on the Skeleton documention (http://www.getskeleton.com/)
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

// Theme Variables

$main-font: "Raleway", sans-serif;
$code-font: "Source Code Pro", monospace;

$accent-colour: #FF8000;

$social-icons: (
	"twitter" #55acee,
	"google-plus-square" #dd4b39,
	"github" #171515,
	"soundcloud" #f70,
);


// Reset & Basics (Inspired by Eric Meyer)

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {
	quotes: none;
	&:before, &:after { content: ''; content: none; } }
table { border-collapse: collapse; border-spacing: 0; }


// Typography

body {
	background: #fff;
	font: 14px/23px $main-font;
	color: #222;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

h1 { font-size: 24px; line-height: 30px; }
h2 { font-size: 20px; line-height: 30px; margin-top: 24px; }

p {
	margin: 1em 0;
	img { margin: 0; }
}

em { font-style: italic; }
strong { font-weight: bold; }
small { font-size: 80%; }

blockquote {
	margin: 20px 0 20px 3px;
	padding: 1px 15px;
	border-left: 2px solid #ddd;

	p {
		font-size: 14px;
		line-height: 21px;
		color: #777;
		font-style: normal;
		margin: 3px 0;
	}

	cite {
		display: block;
		font-size: 12px;
		color: #555;
		&:before { content: "\2014 \0020"; }
	}
}

hr {
	clear: both;
	border: none;
	height: 1px;
	background-color: #ebebeb;
	margin: 10px 5px;
}

a {
	color: #333;
	text-decoration: none;
	font-weight: bold;
	outline: 0;

	&:hover, &:focus {
		color: #000;
		text-decoration: underline;
	}

	&.icon {
		padding: 0 2px;
		font-size: 20px;
		color: #555;
		transition: color 0.25s ease;

		&:hover {
			text-decoration: none;
			color: #222;
			@each $icon, $colour in $social-icons {
				&.fa-#{$icon} { color: $colour; }
			}
		}
	}
}

ul, ol {
	margin: 12px 0 12px 30px;

	ul, ol {
		font-size: 95%;
		margin-top: 5px;
	}
}

ul { list-style: square outside; }
ol { list-style: decimal; }

table:not(.codehilitetable) {
	th, td {
	  padding: 12px 15px;
	  text-align: left;
	  border-bottom: 1px solid #E1E1E1;

	  &:first-child { padding-left: 0; }
	  &:last-child { padding-right: 0; }
	}
}

abbr, acronym, .abbr {
	cursor: help;
	border-bottom: 1px dashed #444;
}

.footnote-ref {
	padding-left: 1px;
	font-size: .7em;
	line-height: 0.5em;
	vertical-align: baseline;
	position: relative;
	top: -0.7em;
}

code {
	font: 13px/21px $code-font;
	font-weight: inherit;
	background: #f5f5f5;
	padding: 0.1em 0.3em;
	border-radius: 3px;
}

.codehilitetable {
	font: 12px/20px $code-font;
	overflow-x: auto;
	display: block;
	border-left: 3px solid $accent-colour;
	border-radius: 2px;
	padding: 0.8em 0;

	tbody tr { display: block; } // fixes line numbers on Firefox
}

.linenos {
	border-right: 1px solid #3d3d3d;
	padding: 0 0.7em;
	width: 1.2em;
	text-align: right;
	position: absolute;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.codehilite {
	margin: 0 1em 0 3.5em;
}

.admonition {
	background: #fafafa;
	margin: 20px 0;
	padding: 10px 25px;
	border: solid #ccc;
	border-width: 1px 0;
}

.admonition-title {
	@extend h2;
	margin: 12px 0;
}

.read-more { font-size: 90%; }
.text-center { text-align: center; }


// Layout

$desktop: "only screen and (min-width: 960px)";
$handheld: "only screen and (max-width: 959px)";
$mobile: "only screen and (max-width: 767px)";

html, body {
	height: 100%;
}

.container {
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding-top: 50px;

	@media only print { width: 80%; margin-top: -20px; }
	@media #{$handheld} { width: 90%; }
	@media #{$desktop} {
		@mixin column { margin: 0 10px; }

		.side-column {
			@include column;
			float: left;
			width: 160px;
			position: fixed;
		}

		.main-column {
			@include column;
			float: right;
			width: 700px;
		}
	}
}

article img {
	max-width: 95%;
	margin: 0 auto;
	display: block;
}

footer p {
	text-align: center;
	padding-bottom: 10px;
}

#sidebar div {
	margin: 12px 0;
}

#avatar {
	margin: 0 auto;
	display: block;
	width: 140px;
	border-radius: 15px;
}

#logo {
	font-size: 25px;
	line-height: 34px;
	letter-spacing: -0.5px;
}

#bio {
	font-size: 12px;
	line-height: 18px;
}

#sidebar-links {
	color: #aaa;
}

#sidebar-divider {
	display: none;  // only appears on mobile
}

.title {
	float: left;
}

.date {
	float: right;
	display: block;
	line-height: 30px;
}

.content {
	clear: both;
	overflow: hidden;

	hr { margin: 25px 10px; }
}

#view-archives {
	overflow: auto;
	text-align: right;
}

#back-to-home, #related-articles {
	overflow: auto;
	margin-top: 20px;
}

#next-neighbour { float: left; }
#prev-neighbour { float: right; }


// Media Queries

@media #{$handheld} {
	// On mobile, sidebar has a fixed width (approximately the width
	// of a typical phone in portrait) and is centred at top of page
	.container {
		padding-top: 3px;
	}

	#sidebar {
		max-width: 280px;
		margin: 0 auto;
		padding-top: 5px;
		vertical-align: middle;

		div { margin: 5px 0; }
	}

	#avatar { float: left; }
	#social .icon { padding: 0 1px; }
	article { margin-top: 14px; }
}

@media #{$mobile} {
	.title, .date {
		text-align: center;
		float: none;
	}

	h1 { font-size: 24px; }

	#sidebar-divider { display: block; }
}

@media only print {
	footer, #sidebar, #disqus_thread, #related-articles, #back-to-home {
		display: none !important;
	}

	p a:after { content:" ["attr(href)"]"; }
	.linenos { border-right: none }
}
