/*
    Base16 Eighties Dark
    Author: Chris Kempson (http://chriskempson.com)

    Pygments template by Jan T. Sott (https://github.com/idleberg)
    Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder)
*/

.codehilitetable, .linenos { background: #2d2d2d; color: #f2f0ec }
.c, .linenos { color: #747369 } /* Comment (and line numbers) */
.err { color: #f2777a } /* Error */
.k   { color: #cc99cc } /* Keyword */
.l   { color: #f99157 } /* Literal */
.n   { color: #f2f0ec } /* Name */
.o   { color: #66cccc } /* Operator */
.p   { color: #f2f0ec } /* Punctuation */
.cm  { color: #747369 } /* Comment.Multiline */
.cp  { color: #747369 } /* Comment.Preproc */
.c1  { color: #747369 } /* Comment.Single */
.cs  { color: #747369 } /* Comment.Special */
.gd  { color: #f2777a } /* Generic.Deleted */
.ge  { font-style: italic } /* Generic.Emph */
.gh  { color: #f2f0ec; font-weight: bold } /* Generic.Heading */
.gi  { color: #99cc99 } /* Generic.Inserted */
.gp  { color: #747369; font-weight: bold } /* Generic.Prompt */
.gs  { font-weight: bold } /* Generic.Strong */
.gu  { color: #66cccc; font-weight: bold } /* Generic.Subheading */
.kc  { color: #cc99cc } /* Keyword.Constant */
.kd  { color: #cc99cc } /* Keyword.Declaration */
.kn  { color: #66cccc } /* Keyword.Namespace */
.kp  { color: #cc99cc } /* Keyword.Pseudo */
.kr  { color: #cc99cc } /* Keyword.Reserved */
.kt  { color: #ffcc66 } /* Keyword.Type */
.ld  { color: #99cc99 } /* Literal.Date */
.m   { color: #f99157 } /* Literal.Number */
.s   { color: #99cc99 } /* Literal.String */
.na  { color: #6699cc } /* Name.Attribute */
.nb  { color: #f2f0ec } /* Name.Builtin */
.nc  { color: #ffcc66 } /* Name.Class */
.no  { color: #f2777a } /* Name.Constant */
.nd  { color: #66cccc } /* Name.Decorator */
.ni  { color: #f2f0ec } /* Name.Entity */
.ne  { color: #f2777a } /* Name.Exception */
.nf  { color: #6699cc } /* Name.Function */
.nl  { color: #f2f0ec } /* Name.Label */
.nn  { color: #ffcc66 } /* Name.Namespace */
.nx  { color: #6699cc } /* Name.Other */
.py  { color: #f2f0ec } /* Name.Property */
.nt  { color: #66cccc } /* Name.Tag */
.nv  { color: #f2777a } /* Name.Variable */
.ow  { color: #66cccc } /* Operator.Word */
.w   { color: #f2f0ec } /* Text.Whitespace */
.mf  { color: #f99157 } /* Literal.Number.Float */
.mh  { color: #f99157 } /* Literal.Number.Hex */
.mi  { color: #f99157 } /* Literal.Number.Integer */
.mo  { color: #f99157 } /* Literal.Number.Oct */
.sb  { color: #99cc99 } /* Literal.String.Backtick */
.sc  { color: #f2f0ec } /* Literal.String.Char */
.sd  { color: #747369 } /* Literal.String.Doc */
.s2  { color: #99cc99 } /* Literal.String.Double */
.se  { color: #f99157 } /* Literal.String.Escape */
.sh  { color: #99cc99 } /* Literal.String.Heredoc */
.si  { color: #f99157 } /* Literal.String.Interpol */
.sx  { color: #99cc99 } /* Literal.String.Other */
.sr  { color: #99cc99 } /* Literal.String.Regex */
.s1  { color: #99cc99 } /* Literal.String.Single */
.ss  { color: #99cc99 } /* Literal.String.Symbol */
.bp  { color: #f2f0ec } /* Name.Builtin.Pseudo */
.vc  { color: #f2777a } /* Name.Variable.Class */
.vg  { color: #f2777a } /* Name.Variable.Global */
.vi  { color: #f2777a } /* Name.Variable.Instance */
.il  { color: #f99157 } /* Literal.Number.Integer.Long */
