<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Basic Metas
	================================================== -->
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="author" content="{{ SITE_AUTHOR }}">
	<link rel="author" href="{{ GOOGLE_PLUS_URL }}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	{% block meta %}{% endblock %}

	<!-- Stylesheets
	================================================== -->
	{% assets filters="scss, cssmin", output="style.min.css", "style.scss", "pygments.css" %}
	<link href="/{{ ASSET_URL }}" rel="stylesheet">
	{% endassets %}
	<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Favicons
	================================================== -->
	<link rel="apple-touch-icon" href="/theme/images/apple-touch-icon.png">
	{% for size in (57, 60, 72, 76, 114, 120, 144, 152) %}
	<link rel="apple-touch-icon" sizes="{{ size }}x{{ size }}" href="/theme/images/apple-touch-icon-{{ size }}x{{ size }}.png">
	{% endfor %}

	{% for size in (16, 32, 96, 160, 196) %}
	<link rel="icon" type="image/png" href="/theme/images/favicon-{{ size }}x{{ size }}.png" sizes="{{ size }}x{{ size }}">
	{% endfor %}

	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
	<div class="container">
		<aside id="sidebar" class="side-column">
			<a href="/"><img id="avatar" src="/theme/images/avatar.png"></a>
			<div id="logo" class="text-center"><a href="/">{{ SITENAME }}</a></div>
			<div id="bio" class="text-center">{{ BIO_TEXT }}</div>
			{% if SIDEBAR_LINKS %}
			<div id="sidebar-links" class="text-center">
				{{ SIDEBAR_LINKS | join("&ensp;&bull;&ensp;") }}
			</div>
			{% endif %}
			{% if SOCIAL_ICONS %}
			<div id="social" class="text-center">
				{% for icon in SOCIAL_ICONS %}
					<a href="{{ icon[0] }}" title="{{ icon[1] }}" class="icon fa {{ icon[2] }}"></a>
				{% endfor %}
			</div>
			{% endif %}
			<hr id="sidebar-divider" class="large">
		</aside>

		<article class="main-column">
			{% block content %}{% endblock %}
			<hr class="large">
		</article>

		<footer class="column main-column">
			<p>{{ FOOTER_TEXT }}</p>
		</footer>
	</div> <!-- container -->

	{% if page and page.mathjax or article and article.mathjax %}
	<!-- MathJax -->
	{{ MATHJAXSCRIPT }}
	{% endif %}

	{% if GOOGLE_ANALYTICS %}
	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', '{{ GOOGLE_ANALYTICS }}', '{{ DOMAIN }}');
		ga('send', 'pageview');
	</script>
	{% endif %}

	{% if GAUGES_ID %}
	<!-- Gauges -->
	<script type="text/javascript">
		var _gauges = _gauges || [];
		(function() {
			var t   = document.createElement('script');
			t.type  = 'text/javascript';
			t.async = true;
			t.id    = 'gauges-tracker';
			t.setAttribute('data-site-id', '{{ GAUGES_ID }}');
			t.src = '//secure.gaug.es/track.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(t, s);
		})();
	</script>
{% endif %}
</body>
</html>
