{% extends 'base.html' %}

{% block title %}{{ SITENAME }}{% endblock %}
{% block description %}{{ INDEX_DESCRIPTION }}{% endblock %}

{% block meta %}
	<!-- Open Graph -->
	<meta property="og:title" content="{{ SITENAME }}">
	<meta property="og:description" content="{{ INDEX_DESCRIPTION }}">
	<meta property="og:image" content="{{ SITEURL }}/{{ ICONS_PATH }}/avatar.png">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ SITEURL }}">
{% endblock %}

{% block content %}
	{{ page.content }}

	<p>Here are some of my recent blog posts (or browse the <a href="/archive/">full archive here</a>):</p>

	<ul>
	{% for article in articles[:5] %}
		<li>
			<strong><a href="{{ article.url }}" title="{{ article.title | striptags }}">{{ article.title }}</a></strong>
			(<time datetime="{{ article.date }}">{{ article.date.year }}</time>)
		</li>
	{% endfor %}
	</ul>
{% endblock %}
