{% extends 'base.html' %}

{% block title %}{{ SITENAME }}{% endblock %}
{% block description %}{{ INDEX_DESCRIPTION }}{% endblock %}

{% block meta %}
	<!-- Open Graph -->
	<meta property="og:title" content="{{ SITENAME }}">
	<meta property="og:description" content="{{ INDEX_DESCRIPTION }}">
	<meta property="og:image" content="{{ SITEURL }}/{{ ICONS_PATH }}/avatar.png">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ SITEURL }}">
{% endblock %}

{% block content %}
	{{ page.content }}

	<div>Here's some stuff I wrote (somewhat) recently:</div>
	<ul style="list-style-type: none;">
	{% for article in articles[:5] %}
		<li>
			<strong><a href="{{ article.url }}" title="{{ article.title | striptags }}">{{ article.title }}</a></strong>
			<time style="float: right;" datetime="{{ article.date }}">{{ article.locale_date }}</time>
		</li>
	{% endfor %}
	</ul>
	<div id="view-archives"><a href="/archive/">Blog Archive &raquo;</a></div>
{% endblock %}
